@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  
}

body{
  background-color: #FAFAFA;
}

#loc{
  font-weight: 100;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  width: 50px; 
  height: auto;
  z-index: 999; }

  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  .whatsapp-icon {
    animation: scaleAnimation 1s ease-in-out infinite; 
  }

.photo{
  background-image: url('./fotos/piscinafundo.jpg');
  width: 100%;
  height: 100vh;
  filter: brightness(0.9);
  background-position: center center;
}

.header {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0; 
  z-index: 10001;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease; 
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

#loc{
  font-weight: 100;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

header{
  
  background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
}

.nav-list {
  
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background: rgba(0, 0, 0, 0.51);
    backdrop-filter: blur(500px);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


.photo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); 
}


.content {
    text-align: center;
    position: absolute;
    top: 50%; 
    transform: translateY(5%); 
    width: 100%;
}

#loc{
  font-weight: 100;
}

h1 {
  margin-top: 20px; 
  font-weight: 100;
  
  filter: brightness(1)
}


.about{
 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#delgalogocenter{
  width: 240px;
  border-radius: 15px;
  filter: brightness(1)
}
.aboutcontainer{
  padding-top: 35px;
  width: 100%;
  height:100%;
  background-color: #fafafa;
  display: flex;
}

.show{
  opacity: 1;
  filter: blur(0);
  transition: all 1.5s;
  transform: translateX(0);
}


h1{
  font-size: 39px;
}

span{
  font-size: 22px;
}

.textAbout{
 
  transition: all 1s;
  text-align: center;
  height: 100%;
  width: 590px;
}

#h1span{
font-size: 35px;
color: #093C73;
}

#spantext{
  font-size: 25px;
  font-weight: 200;
}
.valores{
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #FAFAFA;
}
#h2valor{
  color: #093C73;
}
.valor1{
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 450px;
  display: block;
  text-align: center;
  max-width: 30%;
  background-color: #ffff;
}
.valor2{
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 450px;
  display: block;
  text-align: center;
  max-width: 30%;
  background-color: #ffff;
}
.valor3{
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 450px;
  display: block;
  text-align: center;
  max-width: 30%;
  background-color: #ffff;
} 

#fig{
  
  width: 90px;
  height: 90px;
}

.produtos{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
}

.produto-container {
  margin: 0 auto;
  padding-top: 25px;
  width: 98%;
  display: flex;
  justify-content: space-evenly;
  height: 100%; 
  background-color: #FAFAFA;
}

.produto {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  flex: 1; 
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.imagem-produto {
  width: 100%;
  max-width: 100%; 
  height: 265px;
  object-fit: fill;
}

.descricao-produto {
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#produtostexto {
  font-size: 22px;
  margin-bottom: 10px; 
}

#produto-desc{
  font-size: 16px;
  flex: 1;
}

.contato-title{
  width: 70%;
  margin: auto;
  height: 100%;
  margin-top: 55px;
}

#contato-title3{
  font-size: 1.3rem;
  text-align: center;
  font-weight: 130;
}

.container {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 1020px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contato-form {
  background-color: #05A7F5;
  position: relative;
}

.circulo  {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #05A7F5);
  position: absolute;
}

.circulo .um {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circulo .dois {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contato-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #05A7F5;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #05A7F5;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #093C73;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}


.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #097ff5;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.2;
}

.big-circle {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #05A7F5, #093C73);
  bottom: 52%;
  right: 55%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}



@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contato-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}



.map{
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
#localizacaoIcon{
width: 50px;
}
.map-title{
  font-weight: 140;
  color: #093C73;
  padding-bottom: 15px;
  text-align: center;
  display: block;
  width: 30%;
  margin: auto;
}

footer{
  background-color: #093C73;
  width: 100%;
  height: 370px;
}

.footer-container{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  
  margin: auto;
}

.footer-title{
  text-align: center;
  flex-direction: column;
  height: 60px;
  width: 320px;
  background-color: #093C73;
}

#delga-footer{
  border-radius: 10px 10px 10px 10px;
  width: 120px;
}

.footer-logo{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4{
  cursor: pointer;
  color:#fff;
}

h4:hover{
  color: #F8AC0A;
  transition: color 1s;
}

.footer-title h3{
  padding: 5px;
  color: #F8AC0A;
  cursor: pointer;
}

.footer-title p{
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.footer-title p:hover{
  transition: color 1s;
  color: #F8AC0A;
}

.footer-title h5{
  color: #fff;
}

.copyright{
  justify-content: center;
  padding-top: 25px;
  background-color: #093C73;
  width: 100%;
  height: 100px;
  flex-direction: block;
  text-align: center;
}

.copyright h5{
color: white;
font-weight: 100;
}

.copyright p {
cursor: pointer;
color: white;
font-weight: 100;
}

.copyright p:hover {
  color: #F8AC0A;
  transition: color 1s;
}
@media (min-width: 1379px) and (max-width:1621px){
  #spantext{
    font-size: 22px;
  }

  .imagem-produto {
    width: 100%;
    max-width: 100%; 
    height: 205px;
    object-fit: fill;
  }

  .about{
    width: 95%;
  }
}
@media (min-width: 1171px) and (max-width:1378px){
  .imagem-produto {
    width: 100%;
    height: 250px;
  }

  .about{
    width: 100%;
  }

  .textAbout{
    margin: 10px;
  }
  #spantext{
    font-size: 21px;
  }
  
  .produto-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #FAFAFA;
  }
  
  .produto {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    flex: 1;
    text-align: center;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .imagem-produto {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }
  
  .descricao-produto {
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #produtostexto {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  #produto-desc {
    font-size: 16px;
    flex: 1; 
  }

  .footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-title{
    width: 100%;
  }
  
  .footer-title h3{
    padding: 0;
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width:1170px){
  .imagem-produto {
    width: 100%;
    height: 350px;
  }

  .about{
    width: 100%;
  }

  .textAbout{
    margin: 10px;
  }

  #h1span{
    font-size: 26px
  }

  #spantext{
    font-size: 16px;
  }

  .produtos{
    font-size: 28px;
  }
  

 #fig{
  width: 50px;
  height: 50px;
 }

 #h2valor{
  font-size: 24px;
 }

 #valorspan{
  font-size: 16px;
 }

 .produto-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 90%;
}

.produto{
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 5px;
  height: 100%
}

#contato-title3{
  font-size: 1em;
}

.container {
  margin-top: 30px;
  padding: 1.5rem;
  height: auto;
}

.contact-info:before {
  display: none;
}
.map-title h2{
  font-size: 18px;
}
.footer-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-title{
  width: 100%;
}

.footer-title h3{
  padding: 0;
  font-size: 15px;
}
}

@media (min-width: 769px) and (max-width:1024px){
  .imagem-produto {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }

  .about{
    width: 100%;
  }
  
  .textAbout{
    margin: 10px;
  }

  #h1span{
    font-size: 26px
  }

  #spantext{
    font-size: 16px;
  }

  .produtos{
    font-size: 28px;
  }
  

 #fig{
  width: 50px;
  height: 50px;
 }

 #h2valor{
  font-size: 24px;
 }

 #valorspan{
  font-size: 16px;
 }

 .produto-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.produto{
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 5px;
  
}

#contato-title3{
  font-size: 1em;
}

.container {
  margin-top: 30px;
  padding: 1.5rem;
  height: auto;
}

.contact-info:before {
  display: none;
}
.map-title h2{
  font-size: 18px;
}
.footer-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-title{
  width: 100%;
}

.footer-title h3{
  padding: 0;
  font-size: 15px;
}

}

@media (min-width: 480px) and (max-width: 768px) {


  
  #delgalogocenter {
    display: block; 
    margin: 0 auto;  
    width: 170px;
    height: 120px;
  }

  .content h1{
    font-size: 26px;
  }

  .imagem-produto {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .photo{
    width:auto;
  }
  .aboutcontainer{
    height: 100%;

  }

 

  .textAbout{
    margin: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 20px;
    height: 100%;
  }

  .about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
 
  #h1span{
    font-size: 26px;
  }

  #spantext{
    font-size: 18px;
  }
  .produtos{
    font-size: 25px;
  }

  .valores{
    display: block;
    width: 100%;
    height: 100%;
   
  }

  .valor1{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor2{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor3{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }


  .produto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    flex: 1;
  }

  #produtostexto{
    font-size: 18px;
  }
  .produto{
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 5px;
    
  }

  .descricao-produto {
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #contato-title3{
    font-size: 1em;
  }

  .contato-title{
    text-align: center;
    width: 80%;
    height: auto;
  }

  .footer-title{
    width: 100%;
  }

  .container {
    margin-top: 30px;
    padding: 1.5rem;
    height: auto;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

  .map{
    margin: 0 15px 0 15px;
  }

  .map-title h2{
    font-size: 1.15rem;
    font-weight: 200;
  }

  .map-title{
    width: auto;
  }

  .map-title h2{
    font: 5px
  }

  .container {
    padding: 1.5rem;
    height: auto;
  }

  .contato-title{
    width: 70%;
    margin: auto;
    height: 100%;
  }

  .copyright{
    height: 100%;
    width: 100%;
  }

  footer{
    height: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    width: 100%;
    height: 200px;
  }

  
  .footer-title h3 {
    font-size: 1.1em;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
  }

  
}

@media (min-width: 280px) and (max-width: 479px) {

  
  
  #delgalogocenter {
    display: block; 
    margin: 0 auto;  
    width: 170px;
    height: 120px;
  }

  .content h1{
    font-size: 26px;
  }

  .photo{
    width:auto;
  }
  .aboutcontainer{
    height: 100%;

  }

 

  .textAbout{
    margin: auto;
    width: 95%;
    text-align: center;
    padding-bottom: 20px;
    height: 100%;
  }

  .about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
 
  #h1span{
    font-size: 26px;
  }

  #spantext{
    font-size: 18px;
  }
  .produtos{
    font-size: 25px;
  }

  .valores{
    display: block;
    width: 100%;
    height: 100%;
   
  }

  .valor1{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor2{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor3{
    margin: auto;
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }


  .produto-container{
    flex-direction: column;
    width: 100%;
    height: 260px;
    
    justify-content: center;
  }

  .produto{
    height: auto;
    width: auto;
    margin-bottom: 15px;
    padding: 0px;
  }

  #contato-title3{
    font-size: 1em;
  }

  .contato-title{
    text-align: center;
    width: 80%;
    height: auto;
  }

  .footer-title{
    width: 100%;
  }

  .container {
    margin-top: 30px;
    padding: 1.5rem;
    height: auto;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

  .map{
    margin: 0 15px 0 15px;
  }

  .map-title h2{
    font-size: 1.15rem;
    font-weight: 200;
  }

  .map-title{
    width: auto;
  }

  .map-title h2{
    font: 5px
  }

  .container {
    padding: 1.5rem;
    height: auto;
  }

  .contato-title{
    width: 70%;
    margin: auto;
    height: 100%;
  }

  .copyright{
    height: 100%;
    width: 100%;
  }

  footer{
    height: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    width: 100%;
    height: 200px;
  }

  
  .footer-title h3 {
    font-size: 1.1em;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
  }


  .photo{
    width:auto;
  }
  .aboutcontainer{
    height: 100%;
  }

  


  .about{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
 
  #h1span{
    font-size: 26px;
  }

  #spantext{
    font-size: 18px;
  }
  .produtos{
    font-size: 25px;
  }

  .valores{
    display: block;
    width: 100%;
    height: 100%;
   
  }

  .valor1{
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor2{
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .valor3{
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }


  .produto-container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    justify-content: center;
  }

  .produto{
    height: auto;
    width: auto;
    margin-bottom: 15px;
    padding: 0px;
  }

  #contato-title3{
    font-size: 1em;
  }

  .contato-title{
    text-align: center;
    width: 80%;
    height: auto;
  }

  .footer-title{
    width: 100%;
  }

  .container {
    margin-top: 30px;
    padding: 1.5rem;
    height: auto;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

  .map{
    margin: 0 15px 0 15px;
  }

  .map-title h2{
    font-size: 1.15rem;
    font-weight: 200;
  }
}